body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b2c4d;
}

.topbar {
    background-color: #002147;
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

.result-section {
    background: white;
    width: 90%;
    max-width: 950px;
    margin: 30px auto 0 auto;
    padding: 20px;
}

h2, h4 {
    text-align: center;
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background: #e6e6e6;
    padding: 10px;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
}

.sgpa {
    color: green;
    font-weight: bold;
}

.note {
    color: red;
    margin-top: 15px;
    font-size: 14px;
}

.bottom-blue {
    height: 400px;
    background-color: #0b2c4d;
}
