body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b2c4d;
}

.header {
    background-color: #002147;
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

.container {
    background: white;
    width: 350px;
    margin: 60px auto;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

button {
    padding: 10px 20px;
    background-color: #002147;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004080;
}

#error {
    color: red;
    margin-top: 15px;
}

#result {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

td, th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #002147;
    color: white;
}

.sgpa {
    font-weight: bold;
    color: green;
}
